{% extends 'main.html' %}
{% load i18n %}

{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box auth__box auth__box--compact">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          {% if process == "connect" %}
          <h3>{% blocktrans with provider.name as provider_name %}Connect {{ provider_name }}{% endblocktrans %}</h3>
          {% else %}
          <h3>{% blocktrans with provider.name as provider_name %}Sign In Via {{ provider_name }}{% endblocktrans %}</h3>
          {% endif %}
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Continue securely with your Google account</h2>

        {% if process == "connect" %}
        <p class="auth__description">{% blocktrans with provider.name as provider_name %}You are about to connect a new third-party account from {{ provider_name }}.{% endblocktrans %}</p>
        {% else %}
        <p class="auth__description">{% blocktrans with provider.name as provider_name %}You are about to sign in using your {{ provider_name }} account.{% endblocktrans %}</p>
        {% endif %}

        <form method="post" class="form auth__providerForm">
          {% csrf_token %}
          <button class="btn btn--main auth__submit" type="submit">
            Continue
          </button>
        </form>

        <div class="auth__action">
          <p>Changed your mind?</p>
          <a href="{% url 'login' %}" class="btn btn--link">Back to login</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
