<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>ScholarLink - Find study partners around the world!</title>
  </head>

  <body data-authenticated="{% if request.user.is_authenticated %}true{% else %}false{% endif %}" data-login-action="{{ login_required_action|default:'' }}">

        {% include 'navbar.html' %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="modal-overlay" id="login-modal" aria-hidden="true">
          <div class="modal modal--small">
            <button class="modal__close" type="button" aria-label="Close">&times;</button>
            <span class="modal__icon">🔒</span>
            <h2 class="modal__title">Login Required</h2>
            <p class="modal__text" id="login-modal-text">You need to be logged in to perform this action.</p>
            <div class="modal__actions">
              <a class="btn btn--main" id="login-modal-button" href="{% url 'login' %}?next={{ request.path }}">Login</a>
            </div>
          </div>
        </div>

        {% block content %}


        {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>

